body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}

.orang-color {
  color: orange;
}
#head-section {
  display: flex;
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}

.half_width {
  width: 50%;
  padding-left: 7%;
}
.half_width img {
  width: 80%;
}

.link_btn {
  text-decoration: none;
  background: linear-gradient(45deg, lightsalmon, tomato);
  text-transform: uppercase;
  padding: 10px 40px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  border-radius: 6px;
}
