body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.main_title {
  font-size: 50px;
}
section {
  height: 500px;
}
.flexible_content {
  display: flex;
  margin-bottom: 100px;
}

.orang-color {
  color: orange;
}
.head-section {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}

.half_width {
  width: 50%;
  padding-left: 7%;
  float: left;
}
.half_width img {
  width: 90%;
}

.link_btn {
  text-decoration: none;
  background: linear-gradient(45deg, lightsalmon, tomato);
  text-transform: uppercase;
  padding: 10px 40px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  border-radius: 6px;
}
.content_section {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.content_div {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
.content_div img {
  width: 100%;
}
.content_div p {
  width: 500px;
  text-align: justify;
}
.resume_btm {
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(45deg, #ffa07a, #ff6347);
  color: white;
  padding: 10px 40px;
  font-weight: 700;
  border-radius: 5px;
}
.experience_area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
  margin-bottom: 150px;
}
.experience_unit {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 10px 10px 40px gray;
  padding: 19px;
  height: 400px;
  cursor: pointer;
}
.experience_unit p {
  text-align: justify;
}
.experience_unit h1 {
  font-size: 40px;
}
#experience_unit_1 {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, #ffa07a, #ff6347);
  border-image-slice: 1;
}
#experience_unit_2 {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, #0000ff, #00ffff);
  border-image-slice: 1;
}
.footer_section p {
  text-align: center;
}
